@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body{
  width:100%; height: 100%;
  margin: 0; padding: 0;
  background: #27C9C6;
  background: -webkit-linear-gradient(45deg, #68EBB9, #27C9C6);
  background: -o-linear-gradient(45deg, #68EBB9, #27C9C6);
  background: -moz-linear-gradient(45deg, #68EBB9, #27C9C6);
  background: linear-gradient(45deg, #68EBB9, #27C9C6);

}

body{
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

button, input[type="submit"] {
	border-radius: 20px;
	border: 1px solid #27C9C6;
	background-color: #27C9C6;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin-top: 2px; margin-bottom: 2px;
}

.content-wrapper {
	max-width: 450px; padding: 3%;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 10px;
}

input[type="text"], select, input[type="date"]{
  border: 1px solid #27C9C6;
  padding:10px;
  width: 200px;
}

label{
  display: inline-block;
  width: 130px;
}

/*menu bar*/
header{
	height:60px; background-color:#36304a; border: 1px solid #36304a;
	width:100%; z-index:9999; top:0; left:0; padding:10px;
	color:white; position:absolute;
}

.wrapper{width:1170px; margin:0 auto; display:flex;}
.menu li{float:left;list-style:none;}
.menu a{
	text-decoration:none;line-height:60px; color:black; padding: 0 15px; display: block;
	color:white;
}