/*from https://codepen.io/FlorinPop17/pen/vPKWjd*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #27C9C6;
  background: -webkit-linear-gradient(45deg, #68EBB9, #27C9C6);
  background: -o-linear-gradient(45deg, #68EBB9, #27C9C6);
  background: -moz-linear-gradient(45deg, #68EBB9, #27C9C6);
  background: linear-gradient(45deg, #68EBB9, #27C9C6);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #E2FFF9;
  cursor: pointer;
}

.column1 {
  width: 270px;
  padding-left: 40px;
}

.column2 {
  width: 150px;
}

.column3 {
  width: 170px;
  text-align: right;
  padding-right: 40px;
}

.column4 {
  width: 270px;
}

.column5 {
  width: 150px;
}

.column6 {
  width: 150px;
}

.column7 {
  width: 200px;
  padding-right: 40px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Product Name";
  }
  table tbody tr td:nth-child(2):before {
    content: "Category";
  }
  table tbody tr td:nth-child(3):before {
    content: "Current Price";
  }
  table tbody tr td:nth-child(4):before {
    content: "Trading Place";
  }
  table tbody tr td:nth-child(5):before {
    content: "Status";
  }
  table tbody tr td:nth-child(6):before {
    content: "Seller";
  }
  table tbody tr td:nth-child(7):before {
    content: "Phone Number";
  }

  .column3,
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6,
  .column7 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#search_container
{
  width: 930px;
}

#search_title
{
  background-color: #36304A;
  border-radius: 10px;
  padding: 5px 0px 25px 5px;
}

#search_icon
{
  width: 40px;
  height: 40px;
  float: left;
}

#search_p
{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-left: 50px;
}

#search_div
{
  width: 100%;
  border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
  background-color: white;
  margin: -20px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}


#search_first
{
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
}

#select_category
{
  width: 200px;
  height: 30px;
  font-size: 15px;
  border-color: #36304A;
}

#search_second
{
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
  display: inline-flex;
}

#search_box
{
  border-width: 1.5px;
  border-color: #36304A;
  border-style: solid;
}
#search_keyword
{
  width: 300px;
  height: 28px;
  font-size: 15px;
}

#search_button
{
  width: 40px;
  height: 31px;
  background-color: #36304A;
  cursor: pointer;
}

#search_button:hover
{
  background: #36304A;
}

#search_third
{
  margin-bottom: 3px;
  float: left;
}

#price_input
{
  display:inline-flex;
}

#price1
{
  font-size: 15px;
  margin-top: 3px;
  margin-right: 10px;
}

#price2
{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#won
{
  margin-top: 3px;
  margin-left: 2px;
  font-size: 15px;
}

.price-slider {
  width: 330px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 3em;
}

.price-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

#price_lower
{
  border: 1px solid #36304A;
  -moz-appearance: textfield;
}

#price_upper
{
  border: 1px solid #36304A;
  -moz-appearance: textfield;
}
input[type=number] {
  text-align: center;
  font-size: 20px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
  color: #e60023;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #36304A;
}
input[type=range]:focus::-ms-fill-lower {
  background: #36304A;
}
input[type=range]:focus::-ms-fill-upper {
  background: #36304A;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #36304A;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #36304A;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #eee;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #36304A;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #36304A;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #eee;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #36304A;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #36304A;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #eee;
  cursor: pointer;
}

/*menu bar*/
header{
	height:80px; background-color:#36304a; border: 1px solid #36304a;
	width:100%; z-index:9999; top:0; left:0; padding:10px;
	color:white;
}

.wrapper{width:1170px; margin:0 auto; display:flex;}
.menu li{float:left;list-style:none;}
.menu a{
	text-decoration:none;line-height:60px; color:black; padding: 0 15px; display: block;
	color:white;
}
.menu #moveToLogin{position:absolute; right:50px; color:white;}
.menu #loginId{position:absolute; right:140px; color:#27C9C6; text-decoration:none;line-height:60px; display: block; font-size:15px;}